<p>Hey There!</p>
<p>
    Congrats!  <b>A comment has been added on Nomster for a location you created!</b>
    Check it out <%= link_to 'here!', place_url(@place) %>
</p>

Regards,<br />
Christian 