<h1>Namster</h1>
<p>
  A Yelp clone that integrates with the Google Maps API
  and includes features like user comments, star ratings,
  image uploading, and user authentication.
</p>
<% @places.each do |place| %>
  <div>
    <h2><%= place.name %></h2>
    <i><%= place.address %></i>
    <p><%= place.description %></p>
  </div>

  <hr />
<% end %>
