<% @places.each do |place| %>

  <div class="Shadow-box col-10 offset-1">
    <h2><%= place.name %></h2>
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p>
  </div>

<% end %>
<div class="Shadow-box col-10 offset-1">
  <%= will_paginate @places, class: 'pagination justify-content-end' %>
</div>